* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin: 0;
  background-color: lavender;
  font-family: 'Courier New', Courier, monospace;
}
/* 
body,
pre,
.quote-input {
  font-family: monospace;
} */

.container {
  background-color: #f2ed98;
  padding: 1rem;
  border-radius: 0.6rem;
  width: 95vw;
  height: 82vh;
  /* max-width: 90%; */
  display:flex;
  position: relative;
}


.container i {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

#icon:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: .2s linear transform;
  z-index: 10000;
}

/* icon styling */



.timer {
  /* position: relative;
  top: 2rem; */
  /* margin-top: 5vh; */
  font-family: 'Courier New', Courier, monospace;
  font-size: 3rem;
  color: #f2ed98;
  font-weight: bold;
  -webkit-text-stroke: 1px #000000;
}

.quote-display {
  font-size: .82rem;
  margin-bottom: 1rem;
  margin-left: calc(1rem + 2px);
  margin-right: calc(1rem + 2px);
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  overflow: auto;
  height: 95%;
  width: 100%;
}

.quote-input {
  background-color: transparent;
  outline: none;
  border: none;
  width: 100%;
  height: 70vh;
  /* margin-left: -15px; */
  /* margin-right: 15%; */
  resize: none;
  padding: 0.45rem 1.05rem;
  font-size: .82rem;
  border-radius: 0.5rem;
  position: absolute;
  cursor: text;
  left: 0;

}

.quote-input:focus {
  border: 1px solid #f2ed98;
  animation-name: blinking;
  animation-duration: 1.5s;
  animation-iteration-count: 100;
}
@keyframes blinking {
  50% {
    border-color: black;
  }
}

#description{
  background-color: #202124;
  color: #f2ed98;
  display: none;
  width: 48%;
  height: 70vh;
  margin-right: 1%;
  resize: none;
  padding: 0.45rem 1.05rem;
  font-size: .82rem;
  border-radius: 0.5rem;
  position: absolute;
  cursor: text;
  right: 0; 
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

#des-content {
  border: 1px solid #f2ed98;
  border-radius: 20px;
  padding: 20px;
  height: 80%;
  font-size: 1.2rem;
  font-weight: bold;
}


.correct {
  background-color: #5cb85c;
}

.incorrect {
  background-color: red;
  text-decoration: underline;
}

.placeholder {
  position: relative;
  font-size: .82rem;
  height: 90%;
  width: 100%;
  overflow: auto;
}

.placeholder::-webkit-scrollbar {
  display: none;
}

.placeholder::after {
  position: absolute;
  left: calc(1rem + 2px);
  top: 0.5rem;
  font-size: .82rem;
  content: attr(data-placeholder);
  pointer-events: none;
  opacity: 0.3;
}

pre {
  padding: 0;
}

.info-container {
  display: flex;
  margin: 10px;
  width: 80vw;
  justify-content: space-between;
  align-items: center;
}

/* .nums-wrap {
  background: linear-gradient(135deg, #a777e3, #6e8efb);
  border-radius: 20px;
  padding: 2px;
  position: relative;
} */

.nums {
  /* margin-right: 5vw; */
  border: 4px solid;
  border-image-source: linear-gradient(135deg, #a777e3, #6e8efb);
  border-image-slice: 1;
  background: #f2ed98;
  border-radius: 20px;
  width: 20vw;
  padding-left: 15px;
  font-size: .82rem;
}

.btn {
  width: 10vw;
  height: 65px;
  border: none;
  border-radius: 4px;
  background: linear-gradient(135deg, #a777e3, #6e8efb);
  color: white;
  font-weight: bold;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  margin: 5px 0;
  font-size: 1.2rem;
  font-family: 'Courier New', Courier, monospace;
}
/* 
#start {
  background: linear-gradient(135deg, #50ff67, #b0b0b0);
} */

.btn:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, .7);
  transform: scale(1.05);
  transition: transform .2s ease-in-out;
  cursor: pointer;
}

.btn:active {
  transform: scale(.98);
  transition: transform .2s ease-in-out;
}

.next {
  background: linear-gradient(135deg, #6e8efb, #a777e3);

}



@media only screen and (max-width: 800px){
	#timer {
    font-size: 2.3rem
  }

  #timer > span {
    display: none;
  }
}






/* overlay */
/* div {
  position:fixed ;
  width: 100%;
  height: 100%;
  display: inline-block;
  img{
    width: 100%;
    display: inline-block;
    filter: blur(70px);
    -webkit-filter: blur(70px);
  }
  h1{
    color: white;
    font-size: 75pt;
    text-transform: uppercase;
    position: absolute;
    top: 275px;
    left: 14%;
  }
  h2{
    color: white;
    font-size: 35pt;
    position: absolute;
    top: 425px;
    left: 14%;
  }
} */
